.line {
    position: relative;
    background-color: #6c747e;
    display: flex;
    align-items: center;
    height: 55px;
    width: 100%;
}

#CMS {
    color: white;
    font-size: 40px;
    margin-top: 9px;
    margin-left: 0.5%;
}

.bell-div {
    position: relative;
}

.bi-bell {
    font-size: 30px;
}

.blink {
    position: absolute;
    top: 10px;
    left: 19px;
    width: 7px;
    height: 7px;
    background-color: red;
    border-radius: 50%;
    animation: blinkAnimation 1s infinite alternate;
}

@keyframes blinkAnimation {
    from { opacity: 1; }
    to { opacity: 0; }
}

.logo-div {
    margin-left: 20%;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -10%;
    margin-top: 10%;
}

.logo-text {
    margin-left: 1%;
    margin-top: -0.2%;
    color: white;
}

.bell-menu {
    display: none;
    position: absolute;
    top: calc(100% + 21px);
    margin-left: -37px;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: scale(1.2) translateX(-20%);
    transition: transform 0.3s ease;
    font-size: 14px;
}

.bell-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.bell-div:focus-within .bell-menu,
.logo-text:focus + #bell-div .bell-menu,
.bell-div:hover .bell-menu {
    display: block;
}

.message-div {
    display: flex;
    align-items: center;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.message-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -13px;
    margin-right: 2px;
}

.message-message{
    min-width: 140px;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
    border: 1px solid grey;
}

.triangle-container {
    position: relative;
    width: 0;
    height: 0;
    border-bottom: 8px solid transparent;
    border-right: 16px solid #f1f1f1;
    margin-right: -20px;
}
.triangle-border {
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-right: 18px solid black;
    z-index: -1;
    margin-right: -20px;
}

.logo-menu {
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    margin-left: 1%;
    background-color: #f9f9f9;
    width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: scale(1.2) translateX(-20%);
    transition: transform 0.3s ease;
    font-size: 14px;
}

.logo-menu a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.logo-menu a:hover {
    background-color: #f1f1f1;
}

.logo-text:hover .logo-menu {
    display: block;
}

.dropdown {
    position: absolute;
    width: 9%;
    margin-left: 10px;
    text-color: black;
    font-size: 29px;
}

.active{
    font-weight: bold;
}

#table-div {
    width: 85%;
    margin-left: 11%;
    border: 1px solid black;
}

.table-striped{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: -0px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th:first-child, td:first-child {
    margin-left: 0;
}

th:last-child, td:last-child {
    margin-right: 0;
}

.form-check-input {
    border: 1px solid black;
}

.bi-circle-fill.active {
    color: green;
}

.bi-circle-fill {
    color: grey;
}

.bi-x-square {
    color: red;
}

#plus-square {
    width: 5%;
    height: 5%;
    font-size: 35px;
    margin-left: 94.1%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

#String {
    position: relative;
    color: black;
    font-size: 40px;
    margin-top: 2%;
    margin-left: 11%;
}

.page-navigation{
    position: absolute;
    margin-top: 3%;
    left: 55%;
    float: right;
    transform: translate(-50%, -50%)
}

.page-link {
    color: black;
}

.navbar-toggler {
    margin-left: 10px;
}

.bell_logo{
    margin-left: 82%;
}

@media only screen and (min-width: 1900px){
    .pos-f-t{
        display: none;
    }
}

@media only screen and (max-width: 1900px){

    .navbar{
        height: 60px;
    }

    #navbarToggleExternalContent {
        width: 240px;
        font-size: 27px;
    }

    .page-navigation{
        margin-top: 7%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .line {
        display: none;
    }

    .logo-menu{
        display: none;
        width: 100px;
        right: 0;
        font-weight: normal;
    }

    .logo-menu.active {
        display: block;
    }

    #logo-text {
        display: none;
    }

    #plus-square {
        position: relative;
        left: -27px;
        top: -5px;
    }

    .dropdown {
        display: none;
    }

    #table-div {
        width: 90%;
        margin-left: 5%;
    }

    #nav-div{
        margin-left: 40%;
    }

    #String{
        left: -6%;
    }

    .bell-div{
        width: 40px;
        color: black;
        margin-left: -50%;
    }

    .logo-div {
        width: 40px;
    }
}